.main{
    margin:30px;
    background-color: white;
    padding:0px 30px;
}
body{
    background-color:#d5d5d5;
}
.btn-publish{
    float: right;
    margin-bottom: 30px;
}
.mb-title{
    font-size: 14px;
    color: blue;
}
.ml-img{
    width:40px;
    height:40px;
}
.mb-text{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 30px;
}
.text-desc{
    color: #999999;
    font-size: 12px;
}