<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/community.css">


</head>
<body>


<div th:insert="~{navigation::copy}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2>
                <span class="glyphicon glyphicon-align-justify"></span>
                <span>发现</span>
            </h2>
            <hr>
            <div class="media" th:each="question: ${questions}">
                <div class="media-left">
                    <a href="#">
                        <img th:src="${question.user.avatarUrl}" alt="图片消失啦" class="img-rounded ml-img">
                    </a>
                </div>
                <div class="media-body">
                    <div  class="media-heading mb-title"><span th:text="${question.title}"></span></div>
                    <span class="mb-text"> <span th:text="${question.commentCount}"></span> 个评论 • <span th:text="${question.viewCount}"></span> 次浏览 • 时间<span th:text="${#dates.format(question.gmtCreate,'yyyy-mm-dd HH：mm：ss')}"></span></span>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions" th:class="${section == 'questions'}? 'list-group-item active':'list-group-item'">
                    我的问题
                </a>
                <a href="/profile/repies" th:class="${section == 'repies'}? 'list-group-item active':'list-group-item'">
                    最新回复
                    <span class="badge">14</span>
                </a>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a th:href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous" th:if="${pagination.showFirstPage}">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>
            <li>
                <a th:href="@{'/profile/'+${section}(page=${pagination.page-1})}" aria-label="FirstPrevious" th:if="${pagination.showPrevious}">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li th:each="page:${pagination.pages}" th:class="${page == pagination.page}? 'active':''">
                <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}"></a>
            </li>
            <li>
                <a th:href="@{'/profile/'+${section}(page=${pagination.page+1})}" aria-label="Next" th:if="${pagination.showNext}">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li>
                <a th:href="@{'/profile/'+${section}(page=${pagination.totalPages})}" aria-label="LastNext" th:if="${pagination.showEndPage}">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>